

  body {
    margin: 0;
    padding: 91px 0 106px 0;
    font-family: 'Arial Narrow';
    font-size: 15px;
    color: #fff;
    background: #2b2735}


  header, hgroup, article, nav {
    display: block}


  a {
    color: #d0e11b}
  a:hover {
    color: #e4f900}
  li a.active {
    color: #fff}

  a.module-link-help {
    background: url('images/help.png') 0 50% no-repeat}
  a.module-link-permissions {
    background: url('images/permissions.png') 0 50% no-repeat}
  a.module-link-configure {
    background: url('images/configure.png') 0 50% no-repeat}

  .filter-help a {
    background-image: url('images/help.png')}


  h1, h2, h3, h4, h5, h6 {
    font-family: 'opensans_condensed_light', 'Arial Narrow';
    font-weight: normal}

  h1.page-title {
    position: relative;
    top: -14px;
    margin-top: 0}


  dl {
    margin: 20px 0}
  dl dt {
    margin: 7px 0 4px 0;
    padding: 0}
  dl dd {
    margin: 4px 0 7px 0;
    padding: 0}


  ul {}
  ul li {}
  ul.primary {
    white-space: normal}


/* page style */

 .page {
    width: 990px;
    margin: 0 auto}

 .page-part .column-l {
    float: left;
    width: 203px}
 .page-part .column-c {
    float: right;
    width: 740px}
 .page-part-no-left .column-c {
    float: none;
    width: 990px}

 .head-part {
    font-family: 'opensans_condensed_light', 'Arial Narrow';
    font-size: 24px}
 .head-part .column-l,
 .head-part .column-c {
    border-bottom: 2px solid #fff}
 .head-part .column-l {
    margin-top: -47px}
 .head-part .column-l .logo {
    float: right;
    position: relative;
    top: 5px;
    left: 8px}
 .head-part .column-c {
    margin-left: 250px}
 .head-part .column-c .region-ms-top-left {
    float: left}
 .head-part .column-c .region-ms-top-right {
    float: right}
 .head-part .column-c .block {
    position: relative;
    top: 2px}

 .body-part {
    padding: 50px 0 100px 0}
 .body-part .column-c {
    min-height: 600px}

 .foot-part {
    font-family: 'opensans_condensed_light', 'Arial Narrow';
    font-size: 18px}
 .foot-part .column-c {
    border-bottom: 2px solid #fff}
 .foot-part .column-c .region-ms-bottom-left {
    float: left}
 .foot-part .column-c .region-ms-bottom-right {
    float: right}
 .foot-part .column-c .block {
    position: relative;
    top: 2px}


/* breadcrumb */

 .breadcrumb {
    position: absolute;
    width: 740px;
    height: 1.5em;
    overflow: hidden;
    margin: -40px 0 0 0;
    font-size: 12px}


/* block */

 .region .block {
    margin-top: 50px}
 .region .block:first-child {
    margin-top: 0}

 .region .block > h2 {
    margin: 0 0 30px 0;
    padding-bottom: 3px;
    border-bottom: 1px dotted #494552}


/* messages */

 div.messages {
    margin: 20px 0;
    padding: 20px;
    border: 0;
    background: none}

 div.status {
    color: #fff;
    background: #3ccc1f}
 div.warning {
    color: #fff;
    background: #ff9f0e}
 div.error {
    color: #fff;
    background: #fd0900}

 div.messages ul {
    margin: 0;
    padding: 0}
 div.messages ul li {
    margin: 10px 0 0 0;
    padding: 7px 0 0 0;
    border-top: 1px dashed #fff;
    list-style: none}
 div.messages ul li:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0}

 div.messages .status ul li {
    border-top-color: #97e487}
 div.messages .warning ul li {
    border-top-color: #ffc56f}
 div.messages .error ul li {
    border-top-color: #fe7c77}

 div.messages a {
    color: #fff}


/* tabs */

  div.tabs {
    margin: 20px 0}

  div.tabs ul {
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #494552}

  div.tabs ul li {
    display: inline-block;
    margin: 0;
    padding: 8px 5px 0 0;
    border: 0;
    background: none}

  div.tabs ul li a {
    display: inline-block;
    margin: 0;
    padding: 10px 19px;
    border: 0;
    background: #373441}
  div.tabs ul li a:hover {
    background: #494552}
  div.tabs ul li a.active {
    border: 0;
    background: #494552}


/* vertical-tabs */

  div.vertical-tabs {
    border: 1px solid #494552}
  div.vertical-tabs ul.vertical-tabs-list {
    border: 0}
  div.vertical-tabs ul.vertical-tabs-list li {
    border: 1px solid #494552;
    border-width: 1px 1px 0 1px;
    border-top-style: dashed;
    background: #373441}
  div.vertical-tabs ul.vertical-tabs-list li.last {
    border-bottom-width: 1px}
  div.vertical-tabs ul.vertical-tabs-list li.first {
    border-top-style: solid}
  div.vertical-tabs ul.vertical-tabs-list li:focus {
    outline: none}
  div.vertical-tabs ul.vertical-tabs-list li:hover {
    background: #494552}
  div.vertical-tabs ul.vertical-tabs-list li.selected {
    background: #494552}
  div.vertical-tabs ul.vertical-tabs-list li a {
    color: #fff}
  div.vertical-tabs ul.vertical-tabs-list li a:hover {
    outline: none}
  div.vertical-tabs ul.vertical-tabs-list li a:hover strong {
    text-decoration: none}
  div.vertical-tabs ul.vertical-tabs-list li.selected a strong {
    color: #fff}
  div.vertical-tabs ul.vertical-tabs-list a span.summary {
    color: #827f88}


/* fieldset */

  fieldset {
    margin: 50px 0 30px 0;
    padding: 20px;
    border: 1px solid #494552}
  html.js fieldset.collapsed {
    border-style: dashed}

  fieldset legend {
    position: absolute;
    margin: -55px 0 0 -21px;
    max-width: 700px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 22px;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0}

  html.js fieldset.collapsible .fieldset-legend {
    padding-left: 25px;
    background: url('images/fieldset-legend-bg.png') no-repeat 0 -30px}
  html.js fieldset.collapsed .fieldset-legend {
    margin-left: 1px;
    background-position: 0 3px}

  fieldset .fieldset-description {
    margin: -20px -20px 20px -20px;
    padding: 20px;
    background: #373441}
    
  div.vertical-tabs fieldset.vertical-tabs-pane {
    padding: 0 20px}
  div.vertical-tabs fieldset.vertical-tabs-pane > .fieldset-wrapper > .fieldset-description {
    margin-top: 0;
    padding-bottom: 20px !important}


/* forms */

  form .form-item * {
    font-family: 'Arial Narrow';
    font-size: 12px}

  form .form-item {
    margin: 30px 0}

  form .form-item label {
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: normal}
  form .form-item label .form-required {
    color: #d0e11b}

  form .form-item .description {
    margin: 5px 0 0 0;
    line-height: 1.5em;
    color: #827f88}

  form .form-item .form-text,
  form .form-item .form-select,
  form .form-item .form-textarea,
  form .form-item .form-file {
    margin: 5px 0;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    border: 0;
    border-radius: 0;
    background: #36323f}
  form .form-item .form-text:focus,
  form .form-item .form-select:focus,
  form .form-item .form-textarea:focus {
    outline: none}

  form tr.even .form-item .form-text,
  form tr.even .form-item .form-select,
  form tr.even .form-item .form-textarea,
  form tr.even .form-item .form-file {
    background: #3e3a47}

  form .form-disabled .form-text,
  form .form-disabled .form-select,
  form .form-disabled .form-textarea,
  form .form-disabled .form-file {
    color: #827f88}

  form .form-item input.error,
  form .form-item textarea.error,
  form .form-item select.error {
    background: #fd0900}

  form .form-item .form-select {
    cursor: pointer;
    -webkit-appearance: listbox}
  form .form-item .form-file {
    -webkit-appearance: none}

  form .form-item .form-textarea {
    line-height: 1.5em}
  form .form-item .resizable-textarea .form-textarea {
    margin-bottom: 0;
    resize: none}
  form .form-item .resizable-textarea .grippie {
    height: 12px;
    margin-bottom: 5px;
    border: 0;
    background: #494551 url('images/grippie-bg.png') no-repeat 50% 50%}

  form .form-type-radio *,
  form .form-type-checkbox * {
    vertical-align: middle}
  form .form-type-radio label,
  form .form-type-checkbox label {
    font-size: 12px}
  form .form-radio,
  form .form-checkbox {
    margin: 0 2px 0 0}

  form .form-item .form-type-radio,
  form .form-item .form-type-checkbox {
    margin: 5px 0}

  form .form-type-password .form-text {
    width: 200px}
  form .form-type-password .password-strength,
  form .form-type-password div.password-confirm {
    float: none;
    position: absolute;
    margin: 9px 0 0 240px}
  form .form-type-password .password-strength .password-strength-title {
    display: block;
    margin-bottom: 5px}

  form .form-submit {
    padding: 10px 20px;
    margin: 0 10px 0 0;
    font-size: 12px;
    color: #2b2735;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
    background: #d0e11b url('images/button-bg.png') repeat-x}
  form .form-submit:hover {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .7);
    background: #e4f900}

  html.js input.form-autocomplete {
    background-image: url('images/throbber.gif');
    background-position: 100% 5px}
  html.js input.throbbing {
    background-position: 100% -69px}

  html.js #autocomplete {
    border: 1px solid #494552}
  html.js #autocomplete li {
    padding: 10px;
    color: #fff;
    background: #36323f}
  html.js #autocomplete li.selected {
    color: #fff;
    background: #494552}

  form .form-actions {
    margin: 50px 0}


/* menu */

 .inline-menu ul.menu,
 .inline-menu ul.menu li {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none}
 .inline-menu ul.menu ul {
    margin-left: 10px} 
 .inline-menu ul.menu li {
    font-family: 'opensans_condensed_light', 'Arial Narrow';
    color: #fff}

 .inline-menu ul.menu li a {
    margin-right: 10px;
    padding-right: 3px;
    text-decoration: none;
    color: #fff;
    background: url('images/menu-top-item-bounder.png') no-repeat 100% 100%}
 .inline-menu ul.menu li a.active {
    color: #d0e11b;
    background-image: url('images/menu-top-item-active-bounder.png')}
 .inline-menu ul.menu li.last > a {
    margin-right: 0;
    padding-right: 0;
    background: none}

 .inline-menu ul.menu li a.link-user {
    display: inline-block;
    width: 16px;
    height: 31px;
    margin-right: 2px;
    font-size: 1px;
    color: #2b2735;
    vertical-align: top;
    background: url('images/ico-user.png') no-repeat 0 7px}
 .inline-menu ul.menu li a.link-user-active {
    background-position: 0 -35px}


 .body-part ul.menu,
 .body-part ul.menu li {
    margin: 0;
    padding: 0;
    list-style: none}
 .body-part ul.menu li {
    margin-top: 10px;
    padding-left: 20px}
 .body-part ul.menu li.expanded {
    background: url('images/menu-expanded.png') no-repeat 0 3px}
 .body-part ul.menu li.collapsed {
    background: url('images/menu-collapsed.png') no-repeat 0 3px}


/* action-links */

  ul.action-links,
  ul.action-links li {
    margin: 0;
    padding: 0;
    list-style: none}


/* table */

 .page table {
    width: 100%;
    margin: 10px 0}
 .page table thead {
    background: #36323f}
 .page table tbody {
    border: 0}
 .page table tr {
    border: 0;
    background: none}
 .page table tr.even {
    background: #36323f}
 .page table th {
    padding: 10px;
    border: 1px solid #36323f}
 .page table td {
    padding: 10px;
    border: 1px solid #36323f}
 .page table td.active {
    background: #36313e}
 .page table tr.even td.active {
    background: #3a3643}

 .page table th.active a.active img {
    margin-left: 5px}

 .page .sticky-header {
    margin-top: 0;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .5)}

  span.tabledrag-changed {
    margin-left: 3px;
    color: #fff}
  a.tabledrag-handle .handle {
    background-image: url('images/draggable.png')}


/* node */

 .node .content {
    line-height: 1.5em}
 .preview .node {
    padding: 10px 20px;
    background: #36323f}


/* pager */

 .item-list .pager {
    margin: 40px 0}
 .item-list .pager li {
    display: inline-block;
    margin: 5px;
    padding: 0}
 .item-list .pager li a {
    display: inline-block;
    padding: 5px 10px 8px 10px;
    background: #36323f}


/* search */

 .region-ms-search {
    float: right;
    margin-top: 10px}

 .region-ms-search #block-search-form .form-item-search-block-form label.element-invisible {
    position: relative !important;
    height: auto;
    overflow: visible;
    clip: auto;
    display: inline;
    margin: 0 6px 0 0;
    font-size: 16px;
    text-transform: lowercase}
 .region-ms-search #block-search-form .form-item-search-block-form .form-text {
    width: 220px;
    margin: 0}
 .region-ms-search #block-search-form .form-actions {
    display: none}

  ol.search-results {
    padding: 0}
  ol.search-results li {
    margin: 30px 0 0 0;
    border-top: 1px dashed #494552}
  ol.search-results li h3.title {
    margin: 25px 0;
    font-size: 30px}
  ol.search-results li .search-snippet-info {
    padding: 0}

 .content #search-form {
    margin-bottom: 50px}
 .content #search-form .container-inline label {
    display: block}


/* profile */

 .profile h3 {
    font-size: 20px;
    border: 0}


/* admin */

  #block-system-help .content {
    margin: 30px 0;
    padding: 10px 25px;
    color: #333;
    background: #fff8be}
  #block-system-help .content a {
    color: #8ca30a}
  #block-system-help .content a:hover {
    color: #a6c016}


  div.form-item div.password-suggestions {
    padding: 10px;
    border: 1px solid #494552}


 .page-admin .admin .left,
 .page-admin .admin .right {
    margin: 0}
 .page-admin .admin-panel {
    padding: 0}
 .page-admin .admin-panel .body {
    padding: 0}


 .page-admin-config-regional-translate #locale-translation-filter-form .form-actions {
    padding: 36px 0 0 0}

 .page-admin-people-permissions-roles #user-admin-roles .form-item-name {
    margin-right: 0}
 .page-admin-people-permissions-roles #user-admin-roles #edit-add {
    margin-top: 5px}


  #admin-dblog td {vertical-align: top}
  #admin-dblog tr.dblog-info td {}
  #admin-dblog tr.dblog-notice td,
  #admin-dblog tr.dblog-warning td {
    background: #ff9f0e}
  #admin-dblog tr.dblog-error td,
  #admin-dblog tr.dblog-critical td,
  #admin-dblog tr.dblog-alert td,
  #admin-dblog tr.dblog-debug td {
    background: #fd0900}
  #admin-dblog td.icon {
    background-image: none !important}
  #admin-dblog td a {
    color: #fff}


 .page-admin-people #user-filter-form #edit-actions,
 .page-admin-content #node-admin-content #edit-actions,
 .page-admin-reports-dblog #dblog-filter-form #edit-actions,
 .page-admin-content #node-admin-content #edit-actions {
    padding: 0 !important;
    padding-top: 10px !important;
    clear: both}


 .page-admin-modules td.description .admin-requirements {
    color: #827f88}
 .page-admin-modules td.description .admin-enabled {
    color: #28ec00}
 .page-admin-modules td.description .admin-disabled {
    color: #fd0900}


 .page-admin-structure-block #block-admin-display-form tr.even {
    background: none}
 .page-admin-structure-block #block-admin-display-form tr.region-title {
    background: #3a3643}
 .page-admin-structure-block #block-admin-display-form tr.region-title td {
    padding: 20px 20px 20px 35px;
    font-size: 18px}


 .page-admin-people-permissions td.module {
    padding: 20px;
    font-size: 20px}


/* admin - appearance */

 .page-admin-appearance .theme-selector .screenshot,
 .page-admin-appearance .theme-selector .no-screenshot {
    padding: 0;
    border-color: #494552}
 .page-admin-appearance .system-themes-list-disabled .theme-selector .screenshot,
 .page-admin-appearance .system-themes-list-disabled .theme-selector .no-screenshot {
    width: 230px;
    height: auto}

 .page-admin-appearance .system-themes-list-disabled {
    margin-top: 100px;
    padding-top: 50px;
    border-top: 1px dashed #494552}
 .page-admin-appearance .system-themes-list-disabled h2 {
    margin-bottom: 20px}
 .page-admin-appearance .system-themes-list-disabled .theme-selector {
    width: 230px;
    margin: 0 10px 100px 0;
    padding: 0}

 .page-admin-appearance .system-themes-list-enabled .theme-description {
    height: 43px;
    overflow: scroll}
 .page-admin-appearance .system-themes-list-enabled .theme-default .theme-description {
    height: 133px;
    overflow: scroll}
 .page-admin-appearance .system-themes-list-disabled .theme-description {
    height: 71px;
    overflow: scroll}

 .page-admin-appearance .operations {
    font-size: 13px}
 .page-admin-appearance .operations li {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important}
 .page-admin-appearance .operations li a {
    display: block;
    width: 210px;
    margin: 5px 0;
    padding: 10px;
    text-align: center;
    color: #2b2735;
    background: #d0e11b url('images/button-bg.png') repeat-x}
 .page-admin-appearance .operations li a:hover {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .7);
    background: #e4f900}


/* system status report */

 .system-status-report td {
    padding: 10px !important;
    color: #fff}

 .system-status-report tr.warning td {
    background: #ff9f0e}
 .system-status-report tr.warning a {
    color: #fff}

 .system-status-report tr.error td {
    background: #fd0900}
 .system-status-report tr.error a {
    color: #fff}

 .system-status-report tr.merge-down,
 .system-status-report tr.merge-down td {
    border-width: 1px !important}

 .system-status-report td.status-description {
    padding: 35px !important;
    text-align: justify;
    background: #36323f}
 .system-status-report td.status-icon {
    border-right: 0;
    background: #3a3643}
 .system-status-report td.status-icon div {
    display: none}
 .system-status-report td.status-title {
    text-align: right;
    border-left: 0;
    background: #3a3643}


/* module schema */

 .page-admin-structure-schema textarea {
    width: 95% !important;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    border: 0;
    background: #36323f}
 .page-admin-structure-schema textarea:focus {
    outline: none}


/* view and ctools */

 .view .view-empty {
    padding: 20px;
    text-align: center;
    background: #373441}

 .ctools-dropbutton {
    border-color: #494552}
 .ctools-button-processed {
    background-color: transparent}
 .ctools-button-processed:hover {
    border-color: #494552}

 .views-displays {
    border: 1px solid #494552}
 .views-display-top {
    background-color: transparent;
    border-bottom: 1px solid #494552}
 .views-ui-display-tab-bucket .even {
    background-color: transparent}
 .views-ui-display-tab-bucket {
    border: 1px solid #494552}
 .views-ui-display-tab-bucket .views-display-setting {
    color: #fff}
 .views-ui-display-tab-bucket h3 {
    font-size: 20px}
  #views-preview-wrapper {
    border: 1px solid #494552;
    border-top: 2px solid #494552}

