
@font-face {
    font-family: 'opensans_condensed_light';
    src: url('opensans-condensed-light.eot');
    src: url('opensans-condensed-light.eot?#iefix') format('embedded-opentype'),
         url('opensans-condensed-light.woff') format('woff'),
         url('opensans-condensed-light.ttf') format('truetype'),
         url('opensans-condensed-light.svg#opensans_condensed_light') format('svg');
    font-weight: normal;
    font-style: normal;
}